<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sergei Bozhko</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="icon" href="static/images/favicon2.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,800&family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="top-container">
      <img class="top-cloud" src="static/images/cloud.png" alt="cloud-image" />
      <h1>Sergei Bozhko</h1>
      <h2>the <i>engineer</i></h2>
      <img
        class="bottom-cloud"
        src="static/images/cloud.png"
        alt="cloud-image"
      />
      <img src="static/images/mountain.png" alt="mountain-image" />
    </div>
    <div class="middle-container">
      <div class="profile">
        <img
          class="profile-photo"
          src="static/images/1589791204942.jpeg"
          alt="profile-photo"
        />
        <h2>
          Hallo! Hello! ¡Hola! 你好 (Nǐ hǎo)! Bonjour! Привет (Privet)! नमस्ते
          (Namaste)! こんにちは (Konnichiwa)! 안녕하세요 (Annyeonghaseyo)! Olá!
        </h2>
        <p>
          My current project is a vivid reflection of my journey in learning
          Python. It's a small-scale, yet significant, undertaking where I apply
          the concepts and techniques I've acquired. This project serves not
          only as a testament to my growing HTML and CSS skills but also as a
          practical platform for experimenting with and understanding Python's
          diverse applications. It's a personal testament to my dedication and
          evolving proficiency in Python programming.
        </p>
      </div>
      <hr />
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img
            class="skill1"
            src="static/images/business_development.jpg"
            alt="business development skills"
          />
          <h3>Business development</h3>
          <p>
            Transitioning from software development to a CTO role in a startup,
            I've developed a robust blend of technical and business development
            skills. In my role as CTO, I led the creation of innovative tech
            products, intertwining engineering expertise with strategic business
            planning. Now, in founding my own startup, I apply this rich
            experience to guide every stage of business development, from
            ideation to execution, ensuring a strong foundation for growth and
            success.
          </p>
        </div>
        <div class="skill-row">
          <img
            class="skill2"
            src="static/images/python.webp"
            alt="python skills"
          />
          <h3>Phyton</h3>
          <p>
            At Day 44 of the 100 Days of Code bootcamp, I've honed my Python
            skills, tackling fundamentals, data structures, and problem-solving
            techniques. This journey is enhancing my proficiency in Python for
            practical applications, preparing me for advanced programming
            challenges.
          </p>
        </div>
      </div>
      <hr />
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>Lorem ipsum dolor sit amet, non elit.</h3>
        <p>
          Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales,
          tellus donec dui, ornare erat.
        </p>
        <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
      </div>
    </div>

    <div class="bottom-container">
      <a
        class="footer-link"
        href="https://www.linkedin.com/in/sergei-bozhko/"
        target="_blank"
        >LinkedIn</a
      >
      <p>© 2023 Sergei Bozhko</p>
    </div>
  </body>
</html>
